In [1]:
import scipy.stats as stats
import numpy as np
import libkloudtrader.stocks as stocks

In [6]:
data=stocks.ohlcv('aapl','2019-01-01','2019-07-07')
data.head(10)

              open      high     low   close    volume
date
2019-01-02  154.89  158.8500  154.23  157.92  37039737
2019-01-03  143.98  145.7200  142.00  142.19  91312195
2019-01-04  144.53  148.5499  143.80  148.26  58607070
2019-01-07  148.70  148.8300  145.90  147.93  54777764
2019-01-08  149.56  151.8200  148.52  150.75  41025314
2019-01-09  151.29  154.5300  149.63  153.31  45099081
2019-01-10  152.50  153.9700  150.86  153.80  35780670
2019-01-11  152.88  153.7000  151.51  152.29  27023241
2019-01-14  150.85  151.2700  149.22  150.00  32439186
2019-01-15  150.27  153.3900  150.05  153.07  28710324

## Arithmetic Mean

In [5]:
np.mean(data['close'])

183.13007812500004

## Geometric Mean

In [8]:
stats.gmean(data['close'])

182.30077615247066